<!doctype html>
<html lang="en" ng-app="trainCompositionApp">
<head>
  <meta charset="utf-8">
  <title>Train Composition Viewer<</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body  ng-controller="TrainCompositionController">

   <div class="container-fluid" >
        <div class="row">
          <div class="col-sm-12">
            <h1>Train Composition Viewer</h1>
          </div>
        </div>          
        <div class="row" >          
          <div class="col-sm-2">
            <div>
               Station Code: <input type="text" ng-model="stationCode" >
              <button ng-click="search()">Search</button>            
            </div>             
          </div>
          <div class="col-sm-10">
            <div class="container-fluid">
              <div class="row" >
                <div class="col-sm-2"> <p>Train Number</h3> </p> </div>
                <div class="col-sm-10"> <p>Train Composition</h3> </p> </div>
              </div> 
              <div class="row" ng-repeat="train in trains">
                <div class="col-sm-2">{{train.trainType}}  {{train.trainNumber}}</div>
                <div class="col-sm-10">
                  <ul>
                     <li ng-hide="train.composition == null">{{train.composition.journeySections[0].beginTimeTableRow.stationShortCode}} -  {{train.composition.journeySections[0].endTimeTableRow.stationShortCode}}</li>
                     <li ng-hide="train.composition == null">Locomotive : {{train.composition.journeySections[0].locomotives[0].locomotiveType}} {{train.composition.journeySections[0].locomotives[0].powerType}}</li>
                     <li ng-hide="train.composition == null">Wagons : {{ListWagons(train.composition.journeySections[0].wagons);}}</li>
                     <li ng-hide="train.composition == null">Maximnum speed : {{train.composition.journeySections[0].maximumSpeed}}</li>
                     <li ng-hide="train.composition == null">Length : {{train.composition.journeySections[0].totalLength}}</li>                     
                     <li ng-show="train.composition == null">No composition found for : {{train.trainNumber}} on {{train.departureDate}}</li>                   
                  </ul>  
                </div>
              </div>   
              <br/>
              
              <div class="row">                
                <div class="col-sm-12">{{NumberOfTrains}} <br>                  
                  {{composition_Error}}
                </div> 
              </div>
          </div>
        </div>
                                    
    </div>                 
  		
</body>
</html>
